.main, .nav{
    max-width: 1000px;
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
}
.ty-p , .ty-h2, .abt-t, .abt-h2{
    font-size: 1.8rem;
}
.about > .about-t > p{
    font-size: 1.8rem;
}

.respon-desk{
    display: flex;
    flex-direction: row;
}
.mobile , .tablet{
    flex-direction: column;
}
.mobile-t , .tablet-t{
    margin: 0;
}
.t-img{
    height: 25rem;
}
.about > img{
    height: 36rem;
}