.about{
    flex-direction: row;
}
.about > img{
    order: 2;
}
.about-t{
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    order:1;

    text-align: justify;
}

.mobile{
    flex-direction: row;
}
.mobile-t{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    
    text-align: justify;
}
.tablet{
    flex-direction: row;
}
.tablet > img{
    order: 2;
}
.tablet-t{
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    order:1;
    
    text-align: justify;
}
.desktop{
    flex-direction: row;
}
.desktop-t{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;

    text-align: justify;
}